{% extends "base.html" %}

{% load extras %}

{% block title %}
    <title>{% get_attribute 'APP_NAME' %} | Глоссарий | {{ group }}</title>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
            {% for g in group.glossary.groups %}
                {% ifequal g group %}
                    <th><span class="selected">{{ group }}</span></th>
                {% else %}
                    <th><a href="{% url 'glossary' %}?group={{ g.number }}"> {{ g }} </a></th>
                {% endifequal %}
            {% endfor %}
            </tr>
        </thead>
    </table>
    {% if employees %}
        <!-- Таблица сотрудников -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Отдел</th>
                    <th>Дата увольнения</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <th scope="row"><a href="{% url 'employee-detail' employee.pk %}">{{ employee.display_last_name }}</a></th>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.end_work|date:"d.m.Y"|default:"работает" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Пагинация -->
           {% if is_paginated %}
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-left">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?group={{ group.number }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
              {% endif %}
              {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?group={{ group.number }}&page={{ i }}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?group={{ group.number }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
              {% endif %}
            </ul>
            </nav>
            {% endif %}
    {% else %}
            <p>Нет сотрудников в базе</p>
    {% endif %}
{% endblock %}
