{% extends "base.html" %}

{% load extras %}

{% block title %}
    <title>{% get_attribute 'APP_NAME' %} | Главная</title>
{% endblock %}

{% block content %}
    <form action="" method="get">
        {% load bootstrap4 %}
        <table>
            <thead>
                <td>
                    <tr>{% bootstrap_form filter_form %}</tr>
                    <tr>{% bootstrap_button "Показать" button_type="submit" button_class="btn-primary" %}</tr>
                </td>
            </thead>
        </table>
    </form>
    {% if employees %}
        <!-- Таблица сотрудников -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Отдел</th>
                    <th>Дата увольнения</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <th scope="row"><a href="{% url 'employee-detail' employee.pk %}">{{ employee.display_last_name }}</a></th>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.end_work|date:"d.m.Y"|default:"работает" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Пагинация -->
        {% load bootstrap4 %}
        {% bootstrap_pagination page_obj %}
    {% else %}
            <p>Нет сотрудников в базе</p>
    {% endif %}
{% endblock %}

